body {
    padding-bottom: 60px;
    padding-top: 40px;
    background-color: #EEEEEE;
}
html{
    background-color: #EEEEEE;
}
.content {
    -moz-border-radius: 0 0 6px 6px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    margin: 0 -20px;
    padding: 20px;
}
.grid-view input, select{
    width: 100%;
}

.login-text a
{
    padding-top: 10px;
}

.event {
    border-bottom: 1px dotted #DDDDDD;
    clear: both;
    display: inline-block;
    margin-bottom: 12px;
}

.pagination {
    float: right;
}

.single-event {
    margin-bottom: 10px;
}

div.meta {
    margin: 5px 0 10px;
}

.align-justify {
    text-align: justify;
}

.comment {
    clear: both;
    border-top: 1px dotted #DDD;
    margin-bottom: 15px;
    padding-top: 10px;
}
.thumbnails-mini {
    margin: 0 0 8px 8px !important;
}

/* RATER PLUGIN */
.ui-rater>span {vertical-align:top;}
.ui-rater-rating {margin-left:.8em}
.ui-rater-starsOff, .ui-rater-starsOn {display:inline-block; height:18px; background:url(../images/stars.png) repeat-x 0 0px;}
.ui-rater-starsOn {display:block; max-width:90px; top:0; background-position: 0 -36px;}
.ui-rater-starsHover {background-position: 0 -18px!important;}

.footer{
	border-top: 1px solid #EEEEEE;
    margin-top: 12px;
    padding-top: 12px;
	text-align: center;
}
